modules = ["nodejs-24", "javascript", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Novii Platform"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Novii Admin"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Novii Platform"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd novii && PORT=5000 pnpm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Novii Admin"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18877 BASE_PATH=/novii-admin/ pnpm --filter @workspace/novii-admin run dev"
waitForPort = 18877

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 8099

[[ports]]
localPort = 18877
externalPort = 4200

[[ports]]
localPort = 18878
externalPort = 5173

[[ports]]
localPort = 18879
externalPort = 6800

[[ports]]
localPort = 18880
externalPort = 8000

[[ports]]
localPort = 18881
externalPort = 8008

[[ports]]
localPort = 18882
externalPort = 8081

[[ports]]
localPort = 23279
externalPort = 9000

[[ports]]
localPort = 23846
externalPort = 3000

[[ports]]
localPort = 23847
externalPort = 3001

[[ports]]
localPort = 23848
externalPort = 6000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SUPABASE_URL = "https://ldgbbbxqfwgufhvnvojy.supabase.co"
SUPABASE_ANON_KEY = "sb_publishable_UysDSUzApROPKDURbh1IGw_46hO_6qX"
VITE_SUPABASE_URL = "https://ldgbbbxqfwgufhvnvojy.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_UysDSUzApROPKDURbh1IGw_46hO_6qX"
CLOUDINARY_CLOUD_NAME = "ds3d1fqf3"
CLOUDINARY_API_KEY = "727676898538336"
CLOUDINARY_SECRET = "na9SeoyKoJPRHvba_MGDQ7wNHQA"
EXPO_PUBLIC_SUPABASE_URL = "https://ldgbbbxqfwgufhvnvojy.supabase.co"
EXPO_PUBLIC_SUPABASE_ANON_KEY = "sb_publishable_UysDSUzApROPKDURbh1IGw_46hO_6qX"
EXPO_PUBLIC_NOVII_API_URL = "https://novii.netlify.app"
